html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

body {
    background-color: #F09B24;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
}

canvas {
    margin: auto;
    display: block;
}

#content {
    margin: auto;
    display: block;
}

#logo-container {
    margin: auto;
    width:100%; 
    cursor: pointer;
}

#player-container {
    margin: auto;
    width:100%; 
}

#play-pause{
    margin: auto;
    width:100%; 
}

#player-container #play-pause {
    cursor: pointer;
    height:60px;
    width: 40px;
    padding: 12px 18px;
    z-index: 2;
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 16px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:20px;
    background-color: #F09B24;
  }

  #loading-feedback {
     color: black;
     height:60px;
    width: 40px;
     text-align: center;
     vertical-align: baseline;
     font-family: UnionBold;
     font-weight: bold;
     font-size: 1em;
  }

  .play {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
  }
  .pause {
     background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==)!important;
  }

  @font-face {
    font-family: UnionBold;
    src: url(union_bold.otf);
  }